@page
@model RazorProject.Pages.Products.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="display-4">Create Product</h1>

<h4 class="mt-4">Product</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label">Product Name</label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ReleaseDate" class="control-label">Release Date</label>
                <input asp-for="Product.ReleaseDate" class="form-control" />
                <span asp-validation-for="Product.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label">Description</label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label">Price</label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Img" class="control-label">Product Image</label>
                <input asp-for="Product.Img" type="file" class="form-control" />
                <span asp-validation-for="Product.Img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Category" class="control-label">Category</label>
                <select asp-for="Product.Category.Id" asp-items="Model.Options" class="form-control"></select>
                <span asp-validation-for="Product.Category.Id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

<div class="mt-4">
    <a asp-page="Index" class="btn btn-secondary">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
